body{
    background-image: url(back3.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 10px;
}
#h1{
    text-align: center;
}
#h1 span{
    color: rgb(219, 219, 219);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 7px solid rgb(219, 219, 219);
    padding-bottom: 7px;
}
#main{
    text-align: center;
    margin-top: 60px;
    width: 50%;
    height: 300px;
    margin-left: 25%;
    background-color: rgb(0,0 ,0,0.3 );
    border-radius: 20px;
    padding: 10px;
}
#EnterAge{
    background-color: rgb(0, 0, 0,0.5);
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
#age{
    width: 70%;
    height: 55px;
    margin: 18px 10px;
    border-radius: 10px;
    outline: 0;
    border: none;
    background-color:   rgb(194, 194, 194);
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}
#Calculate{
    width: 20%;
    height: 57px;
    margin: 18px 10px;
    border-radius: 10px;
    outline: 0;
    border: none;
    background-color:   rgb(194, 194, 194);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-weight: bold;
}
#Calculate:hover{
    background-color:  rgb(145, 144, 144);
}
#isCalculated{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dives {
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    font-size: 1em;
    font-weight: bold;
    gap: 5px; 
}

.dives p {
    font-size: 2em;
    margin: 0;
}

.hrwi {
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 219);
    margin: 0;
}
